body {
    font: 12px Arial;
    background: rgb(o,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,
    rgba(30,15,38,1) 86%, rgba(105,52,132,1) 100%);
}
nav{
    background: rgba(105,52,132);
    background: linear-gradient(0deg, rgba(105,52,132,1) 44%,
    rgba(0,0,0,1)  100%);
    text-align: right;
    padding: 10px;
}
nav li{
display: inline-block;
margin: 0 0 0 15px;
padding: 10px;
}
nav a{
text-transform: uppercase;
color: white;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.titulo{
    
    font-family: "Pacifico", cursive;
    font-weight: normal;
    font-size: 40px;
    color: aliceblue;
    padding: 10px;
}
.sub-titulo{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
}
.Produtos{
    width: 940px;
    margin: 0 auto;
    padding: 100px 0;
}
.Produtos img{
    width: 200px;
    height: 200px;
}
.Produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    margin-top: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #693484;
    border-radius: 10px 20px 10px  40px ;
}
.Produtos li:hover {
    border-color: #c78c19;
}
.Produtos li:active {
     border-color : #0c9107
}
.Produtos li:hover h2{
    font-size: 34px;
}
.Produtos h2 {
     font-size:  30px;
     font-weight: bold;
     color: aliceblue;
}
.produto-preço {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color:aliceblue;
}

.local {
    width: 940px;
    margin: 0 auto;
    padding: 100px 0;
}
.local img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid #693484;
    box-shadow: 3px 3px 3px #693484;
}
.local li{
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 0 1.5%;
        margin-top: 10px;
        padding: 10px 10px;
        box-sizing: border-box;
    }
.rede-social{
    text-align: right;
    padding: 2px;
}
.rede-social img{
    width: 30px;
    height: 30px;
}
.rede-social li{
    display: inline-block;
    color: seashell;
    padding: 3px;
}
.endereco{
    color: aliceblue;
}
#btn {
    padding: 0.Sem 1. Sem;
    box-shadow: -Spx 6px #693484;
    border: 3px solid #693484;
    color: #693484;
    font-weight: 400;
    font-size: lem;
    transition: all ease-in 0.2s;
    border-radius: 50px; 
}

#btn a{
    text-align: center;
    font-size: 28px;
    color: #693484;
    text-decoration: none;
}
